.menu {
	width: 100%;
	max-width: 1100px;
	padding: 7rem 20px;
	color: $black;
	background: $white;

	@media (max-width: $tablet) {
		padding: 4em 0;
	}

	&__hdr {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		@media (max-width: $tablet) {
			margin-bottom: 30px;
		}

		hr {
			margin: 24px auto;
			width: 100%;
			height: 4px;
			border: 0;
			background-color: $berry;
			opacity: 100%;

			@media (max-width: $tablet) {
				width: 80%;
			}
		}

		.h1 {
			color: $chocolate;
		}

		.h4 {
			color: $chocolate;
			text-transform: uppercase;
		}
	}

	&__categories {
		display: flex;
		align-self: center;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			color: $black;
			font-size: 14px;
			padding: 12px;
			font-family: $font-jost;
		}
	}

	&__select {
		display: none;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: $white;
		margin-bottom: 50px;
		position: sticky;
		top: 0;
		align-self: flex-start;
		z-index: 3;

		@media (max-width: $tablet) {
			display: flex;
		}

		span {
			margin-right: 16px;
			font-family: $font-jost;
			text-transform: uppercase;
			font-size: 16px;
			color: $black;

			@media (max-width: $tablet) {
				display: none;
			}
		}

		.select {
			display: block;
			width: 100%;
			max-width: 216px;
			height: 56px;
			border: 3px solid $chocolate;
			border-radius: 8px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				background-color: $white;
				background-image: url("./images/svg/down-arrow.svg");
				background-size: 10px 13px;
				background-position: center;
				background-repeat: no-repeat;
				width: 47px;
				height: 47px;
				z-index: 1;
			}
		}

		.form-control {
			width: 200px;
			font-size: 16px;
			color: $black;
			border: none;
			position: relative;
			height: 50px;
			appearance: none;
			border-radius: 8px;
			margin: 0;

			&:focus {
				outline: none;
			}
		}
	}

	&__list {
		display: flex;

		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}

	&__items {
		list-style: none;
		margin-right: 68px;
		padding: 0;
		min-width: 200px;
		position: sticky;
		top: 100px;
		align-self: flex-start;
		font-family: $font-jost;

		li,
		option {
			display: block;
			font-family: $font-jost;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 900;
			color: $chocolate;

			&:first-child {
				padding-bottom: 10px;
			}

			a {
				padding: 20px 0;
				color: $chocolate;
				display: block;
				text-decoration: none;

				&:hover,
				&:active,
				&.active {
					color: $berry;
					text-decoration: none;
				}
			}
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__desc {
		font-size: 18px;
		margin-bottom: 32px;
	}

	&__posts {
		color: $chocolate;

		@media (max-width: $tablet) {
			padding: 0 20px;
		}

		h4 {
			padding-top: 80px;
			margin-top: -80px;
			color: $chocolate;
			font-size: 28px;

			@media (max-width: $tablet) {
				padding-top: 180px;
				margin-top: -180px;
			}
		}

		hr {
			margin-top: 1rem;
			margin-bottom: 3rem;
			border-top: 2px solid $berry;

			&:last-child {
				display: none;
			}
		}

		.cat-hdr {
			margin-bottom: 2rem;
		}

		@media (max-width: $tablet) {
			.cat-hdr {
				text-align: center;
				margin-bottom: 1.5rem;
			}
		}
	}

	.item-img {
		margin: 0 auto 32px;
		width: 250px;
		position: relative;

		.diet-circle {
			position: absolute;
			top: 25px;
			right: 25px;
			z-index: 2;
			margin-right: 0;
		}

		img {
			display: block;
			width: 250px;
		}
	}

	.item-title {
		font-weight: 700;
		display: block;
		max-width: 80%;
		line-height: normal;
		text-transform: uppercase;
	}
}

.diet-circle {
	font-family: $font-jost;
	font-size: 10px;
	font-weight: 900;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	position: relative;
	width: 24px;
	height: 24px;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;

	&--red {
		background-color: $green;
	}

	&--green {
		background-color: $green;
	}

	&--yellow {
		background-color: $yellow;
	}

	&--sm {
		font-size: 10px;
		width: 24px;
		height: 24px;
		margin-right: 0;
	}
}
