//backgrounds
.bg-white {
	background-color: $white;
}

.bg-black {
	background-color: $black;
}

.bg-green {
	background-color: $green;
}

.bg-mint {
	background-color: $mint;
}

.bg-gold {
	background-color: $gold;
}

.bg-chocolate {
	background-color: $chocolate;
}

.bg-berry {
	background-color: $berry;
}

.bg-cone {
	background-color: $cone;
}

.bg-cream {
	background-color: $cream;
}

.bg-sugar {
	background-color: $sugar;
}

@mixin bg-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bg-cover {
	@include bg-cover;

	width: 100%;
	height: 100%;
	position: absolute;
}

.bg-bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.bg-image {
	@include bg-cover;

	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: all 0.3s ease;

	&__opacity-08 {
		opacity: 0.8;
	}

	&__opacity-06 {
		opacity: 0.6;
	}

	&__opacity-05 {
		opacity: 0.5;
	}

	&__opacity-04 {
		opacity: 0.4;
	}

	&__opacity-03 {
		opacity: 0.3;
	}

	&__opacity-02 {
		opacity: 0.2;
	}

	&__opacity-01 {
		opacity: 0.1;
	}
}
