.nf-field-label label {
	display: none;
}

.form-input {
	border: 1px solid $chocolate;
	background-color: $white;
	color: $chocolate;
	border-radius: 8px;
	padding: 17px 24px;
	font-size: 16px;
	transition: all 0.3s ease-in-out;

	&::placeholder {
		color: $chocolate;
		font-size: 16px;
	}

	&:focus {
		border: 2px solid $chocolate;
		outline: none;
	}

	&:hover {
		border: 2px solid $berry;
		outline: none;
	}
}

.submit-btn input {
	font-family: $font-jost !important;
	font-size: 16px;
	font-weight: 100;
	line-height: 16px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 6px;
	background-color: $berry !important;
	color: $white !important;
	padding: 18px 42px;
	border: 0px !important;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $chocolate !important;
		border: 0px !important;
		color: $white !important;
	}
}
